body {
  background: #0f0f23;
  /*337 x 5*/
  color: #cccccc;
  font-family: "Source Code Pro", monospace;
  font-size: 14pt;
  min-width: 60em;
}

a {
  text-decoration: none;
  color: #009900;
}

a:hover {
  color: #99ff99;
}